* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #f3e5d8;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #255538;
    border-radius: 6px;
    margin: 20px;
    padding: 10px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

#goToMain {
    color: white;
    text-decoration: none;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

#nav-right{
   display: flex;
   align-items: center;
   font-family: "DM Sans", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
}

#theme {
    margin-left: 10px;
    border: 0px;
    outline: none;
    width: 36px;
    height: 36px;
    width: 36px;
    background-color: rgba(255, 0, 0, 0);
    background-image: url(../img/dark-button.png);
    background-size: 36px;
    transform: scaleX(-1);
}

main {
    max-width: 1000px;
    margin: auto;
}

#main-container {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto auto;

    grid-template-areas: 
    "recipe ingredients"
    "recipe moreRecipes";
    
}

h1 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #7E4333;
    ;
}

h2 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #7E4333;
}

#recipe {
    grid-area: recipe;
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

#recipe img{
    max-width: 100%;
    border-radius: 10px;
}

#recipe div {
    background-color: #FFF7FC;
    margin: 20px auto;
    padding: 20px;
}

#recipe li {
    margin-bottom: 10px;
}

#ingredients {
    grid-area: ingredients;
    background-color: white; 
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

#ingredients ul {
    padding: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border-bottom: 1px solid #7E4333;
    padding: 10px;
}

table td.propiedad {
    text-align: left;
}

table td.valor {
    text-align: right;
    font-weight: 700;
    color: #7E4333 ;
}

#moreRecipes {
    grid-area: moreRecipes;
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

#moreRecipes a {
    display: flex;
    color: black;
    align-items: center;
    padding: 10px;
}


.img-recipe {
    width: 80px;
    height: 80px;
    margin-right: 10px;    
}

#moreRecipes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;  
}

#moreRecipes h3 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #255538;
    border-radius: 6px;
    margin: 20px;
    margin-bottom: 0px;
    padding: 10px;
    color: white;
}

#logo {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

#copyright {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}