* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #f3e5d8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #255538;
    border-radius: 6px;
    margin: 20px;
    padding: 10px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

#goToMain {
    color: white;
    text-decoration: none;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

#nav-right{
   display: flex;
   align-items: center;
   font-family: "DM Sans", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
}

#theme {
    margin-left: 10px;
    border: 0px;
    outline: none;
    width: 36px;
    height: 36px;
    width: 36px;
    background-color: rgba(255, 0, 0, 0);
    background-image: url(../img/dark-button.png);
    background-size: 36px;
    transform: scaleX(-1);
}



header {
    max-width: 1000px;
    margin: auto;
    border-radius: 5px;
    height: 368px;
    background-image: url(../img/Comida-latinoamericana.webp);
    background-size: cover;
    display: flex;
    align-items: center;
   
}

h1 {
    color: white;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 61px;
    max-width: 500px;
    margin: 30px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

main, h4 {
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #7E4333;
    ;
}

#main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.recipe {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

main img {
    max-height: 140px;
    object-fit: cover;
}

h2 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: #7E4333;
}

.recipe-content, h3, li {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: black;
    padding-left: 25px;
}

h3, li {
    padding: 0px;
}
a {
    max-height: ;
}